* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.imgMock {
    position: absolute;
    display: flex;
    top: 150px;
    width: auto;
}

h2 {
    font-weight: 600;
    color: #fbfbfe;
}